# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
.eggs/
.installed.cfg
MANIFEST

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.subl

# Environment variables
.env

# for mac
.DS_Store